<div>
    <div class="header">
        <h1>Detalle de la orden</h1>
        <button mat-raised-button color="primary" class="create-button" [routerLink]="['/orders']" >Volver a Ordenes</button>
    </div>

      <div class="product-detail-container">
        <form [formGroup]="orderForm"  (ngSubmit)="onSubmit()">
         
    
          <mat-form-field appearance="outline">
            <mat-label>Precio</mat-label>
            <input matInput formControlName="totalPrice" required />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Cantidad</mat-label>
            <input matInput formControlName="quantity" required />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Productos</mat-label>
            <mat-select formControlName="productId">
                <mat-option *ngFor="let product of productos" [value]="product.id">{{product.description}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="actions">
            <button mat-raised-button color="primary" type="submit">Actualizar</button>
          </div>
        </form>
      </div>

</div>
